@import "reset.css";
@import "font.css";
@import "variables.css";
@import "title.css";

/* components */
@import "components/music_bar.css";
@import "components/repeat_background.css";
@import "components/header_tab.css";
@import "components/scrollbar_text.css";

/* */
@import "../css/meme/meme.css";

body {
  width: 100%;
  height: 250vh;
  background-color: #f8f8f8;
  overflow: auto;
}

main {
  position: relative;
}

.null_space {
  width: 100%;
  height: 50px;
}

.whos_div {
  width: 80%;
  height: 350px;
  margin: auto;
  padding: 2%;
  display: flex;
  background-color: wheat;
}

#kane_image1 {
  padding: 1%;
  margin: 1% 0;
  border: 6px double black;
}

.whos_div_kane_image{
  display: inline-flex;
  width: 350px;
  height: 350px;
  position: relative;
}

.whos_div_kane_texts {
  display: inline;
  padding: 0 10px;
  overflow-y: auto;

}