.background_moving_nose {
    display: flex;
    flex-direction: column;
    scroll-padding-bottom: 10%;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    background-image: url("../../images/nose_back.png");
    background-repeat: round;
    opacity: 0.08;
    animation: movebg 30s linear infinite;
  }
  
  @keyframes movebg {
    0% {
      background-position: 100% 0%;
    }
  
    100% {
      background-position: 0% 100%;
    }
  }
  